body {
    font-family: sans-serif;
}

a {
    text-decoration: underline;
    color: black;
    padding: 100px;
}

.left{
    text-align: left;
}

.center{
    text-align: center;
}

.right{
    text-align: end;
}

.boldering{
    text-align: center;
}

.img{
    margin: 20px;
    border-left: 10px dotted black;
}

.text{
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px;
}

.rules{
    color: blue;
    padding: 0px;
}

footer{
   background-color: black;
   padding: 5px;
}
footer p{
    background-color: white;
    margin: 5px;
}
